{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?product" alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
												                Veritatis, ipsa.
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?computer" alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit.
												                Corporis, autem?
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?smart" alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
												                Cupiditate, natus!
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?house" alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
												                Veritatis, ipsa.
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?food" alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit.
												                Corporis, autem?
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-4">
			<div class="card" style="width: 18rem">
				<img class="card-img-top" src="https://source.unsplash.com/1080x720/?tv,watch " alt="Annonce 1"/>
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
												                Cupiditate, natus!
					</p>
					<hr/>
					<span class="float-left btn btn-sm btn-outline-danger disabled">4.000.000FCFA</span>
					<span class="float-left btn btn-sm text-center disabled">Il y a 999H</span>
					<a href="#" class="btn btn-sm btn-primary float-right">Réserver</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
